flet==0.24.0
numpy==1.24.3
pandas==2.0.3
pywhatkit==5.4
pywin32==308
pillow==11.1.0
PyQt5==5.15.11
openpyxl==3.1.5
reportlab==4.2.5
requests==2.32.3
pyinstaller==6.11.1
mysql-connector-python==9.1.0
opencv-python==4.10.0.84
PyMuPDF==1.25.1